{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  }
}
# {
#     "rules": {
#         "indent": [0],
#         "quotes": [0],
#         "linebreak-style": [
#             2,
#             "unix"
#         ],
#         "semi": [0]
#     },
#     "env": {
#         "es6": true,
#         "browser": true
#     },
#     "extends": "eslint:recommended",
#     "ecmaFeatures": {
#         "jsx": true,
#         "experimentalObjectRestSpread": true,
#         "modules": true
#     },
#     "plugins": [
#         "react"
#     ]
# }
